# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# Env files
.env
.env.*
!.env.template

# parcel-bundler cache (https://parceljs.org/)
.cache

# Builds
dist
build
